@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Eater&family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');





body{
margin: 0;
padding: 0;   

    width: 100%;
    height: 100vh;
    background: url('images/backimg.jpeg');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background: rgba(2, 2, 59, 0.7);
    z-index: 1;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16rem;
    padding-bottom: 3rem;
    position: relative;
    z-index: 2;
}
h1{
    color: white;
    font-size: 5rem;
    margin: 0;
    font-family: "Average Sans";
    font-weight: 100;
}
h3{
    color:aqua ;
    font-family: 'eater';
    margin: 0;
    font-size: 2rem;
}
.grid-projects{
    margin: 0;
    height: 45rem;
    padding: 15px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    position: relative;
    z-index: 2;
}
.grid-projects div{
    position: relative;
    width: 20rem;
    height: 20.5rem;
    margin: 10px;
    align-content:end;
    justify-items: center;
    background-image: url(images/backimg.jpeg);
    background-size: cover;

}
#box-content{
    position: absolute;
    background-color:  rgb(0, 128, 0, 0.5);
    height: 100%;
    background-image: none;
    width: 100%;
    justify-content: center;
    align-content: end;
    top: 0;
    margin: 0;
    z-index: 1;
}
#box-content:hover{
    background-color: transparent;
}
#text-content{
    top: 0;
    margin: 0;
    position: absolute;
    background: green;
    height: 25%;
    width: 100%;
    z-index: 2;
    align-content: center;
    justify-items: center;
}

#text-content h1{
font-size: 15px;
font-weight: bold;
}
#text-content p{
    margin-top: 0;
}








/* home boxes color for eaach */
.grid-projects > div:nth-child(1) #box-content {
    background: rgb(0, 128, 0, 0.5);
}
.grid-projects > div:nth-child(1) #text-content {
    background: rgb(0, 128, 0,);
}
.grid-projects > div:nth-child(2) #box-content{
    background: rgba(11, 11, 112, 0.5);
}
.grid-projects > div:nth-child(2) #text-content{
    background: rgb(11, 11, 112);
}
.grid-projects > div:nth-child(3) #box-content{
    background: rgb(32, 178, 170, 0.5);
}
.grid-projects > div:nth-child(3) #text-content{
    background: rgb(32, 178, 170);
}
.grid-projects > div:nth-child(4) #box-content{
    background: rgba(178, 34, 34, 0.5);
}
.grid-projects > div:nth-child(4) #text-content{
    background: rgb(178, 34, 34);
}
.grid-projects > div:nth-child(5) #box-content{
    background: rgb(240, 128, 128, 0.5);
}
.grid-projects > div:nth-child(5) #text-content{
    background: rgb(240, 128, 128);
}
.grid-projects > div:nth-child(6) #box-content{
    background: rgb(128, 0, 128, 0.5);
}
.grid-projects > div:nth-child(6) #text-content{
    background: rgb(128, 0, 128);
}

